/img.zip
/ESRGAN/0 model 8.h5
/ESRGAN/without_bn/
/ESRGAN/32 filters/
/ESRGAN/3 blocks/
/ESRGAN/2 blocks/
/ESRGAN/2 blocks/
/ESRGAN/3 blocks/
/ESRGAN/32 filters/
/ESRGAN/without_bn/
/ESRGAN/Новая папка/
/ESRGAN/0.txt
/ESRGAN/0 model 3.h5
/ESRGAN/0 model 4.h5
/ESRGAN/0 model 8.h5
/ESRGAN/0 model 10.h5
/ESRGAN/1.txt
/ESRGAN/2 model 3.h5
/ESRGAN/3 model 3.h5
/ESRGAN/4 model 3.h5
/ESRGAN/5 model 3.h5
/ESRGAN/6 model 3.h5
/ESRGAN/7 model 3.h5
/ESRGAN/8 model 3.h5
/ESRGAN/model.png
/ESRGAN/model2.png
/ESRGAN/model3.png
/ESRGAN/model4.png
/ESRGAN/model5.png
/ESRGAN/model7.png
/ESRGAN/model9.png
/ESRGAN/model20.h5
/x satellite 128x128/
/x satellite 128x128_train/
/x satellite 128x128_valid/
/y satellite 256x256/
/y satellite 256x256_train/
/y satellite 256x256_valid/
/Новая папка/
/input/
/input_upscaled/
/output/
/satellite/
/test/
/Tex/
